.ComponentB {
  display: flex;
  flex-direction: column;

  border: 2px solid #000;
  background: #a6a6a6;
  padding: 20px;

  &__Title {
    margin-bottom: 20px;
  }

  &__Content {
    flex-grow: 1;
  }
}
